.nav a {
color: #000000;
font-size: 16px;
font-weight: bold;
padding: 18px 12px;
text-transform: uppercase;
}
.nav li {
display: inline;
}
.jumbotron {
background-image:url(http://vagrantsneaker.files.wordpress.com/2011/07/a-few-good-things-store-3.jpg);
height: 500px;
background-repeat: no-repeat;
background-size: cover;
}
.jumbotron .container {
position: relative;
top:100px;
}
.jumbotron h1 {
color: #E80C0C;
font-size: 50px;
font-family: 'Shift', sans-serif;
font-weight: bold;
}
.jumbotron p {
font-size: 25px;
color: #E80C0C;
}
.learn-more {
background-color: #f7f7f7;
}
.learn-more h3 {
font-family: 'Shift', sans-serif;
font-size: 18px;
font-weight: bold;
}
.learn-more a {
color: #00b0ff;
}
.neighborhood-guides{
background-color: #efefef;
border-bottom: 1px solid #dbdbdb;
}
.neighborhood-guides h2{
color: #E80C0C;
font-size: 24px;
}
.neighborhood-guides p{
font-size: 15px;
margin-bottom: 13px;
}
