    html {
        text-align: center;
        margin: 0 auto 0 auto;
      
    }
    body{
      background-color: slategray;
      background-image: url(http://img00.deviantart.net/a63e/i/2005/165/4/3/the_workstation_2_by_jujika.jpg);
      background-size: cover;
      color: snow;
      font-family: 'Oswald', sans-serif;
    }
    
    h1{
      color: #96c6ff;
      font-family: 'Quattrocento', serif;  
      font-size: 60px;
      }
      a {
      color: #96c6ff
      }
    p{
      color: snow;
      font-family: 'Oswald', sans-serif;
      font-size: 20px;
      text-align: center;
    }
